.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  line-height: 24px;
  font-weight: 500;
  color: #4f4f4f;

  &12 {
    font-size: 12px;
  }

  &15 {
    font-size: 15px;
  }

  .input {
    padding: 14px 16px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;

    &::placeholder {
      color: #acacac;
    }
  }
}
